course files/Scripts/__pycache__
# Ignore committing local MLFlow runs and artifacts
mlruns/
save_data/
images/
models/
# Ignore SQLLite local DB
*.db
# Ignore committing lecture slides
Slides/
# Ignore everything in the Data folder
course files/Data/*

# Allow tracking of .dvc files within Data folder
!course files/Data/**/*.dvc
!course files/Data/**/*.dvc.lock
!course files/Data/.gitignore
